#main-mat-tab-group {
  margin: auto;

  #esgi-iw-tab-group {
    max-width: 50%;
  }

  div {
    margin: 20px 10px;

    ul {
      list-style: inside disc;
      color: #CCD6F6;
      padding-left: 10px;
    }
    li {
      padding: 3px 0px;
    }
  }
}
