<h2 class="white-text">Parcours</h2>
<mat-tab-group mat-align-tabs="start" id="main-mat-tab-group" dynamicHeight color="accent">
  <mat-tab label="Master Ingénierie du web">
    <p class="blue-text">@ École Supérieure de Génie Informatique</p>
    <span class="grey-text">depuis janvier 2021</span>
    <mat-tab-group mat-align-tabs="start" id="esgi-iw-tab-group" dynamicHeight>
      <mat-tab label="M1">
        <div class="white-text">
          <ul>
            <li>Symfony</li>
            <li>JavaScript</li>
            <li>NodeJs, MongoDB</li>
            <li>React + React Natif</li>
            <li>Progressive web app (PWA) et Firebase</li>
            <li>Test unitaire et fonctionnel</li>
          </ul>
        </div>
      </mat-tab>

      <mat-tab label="M2">
        <div class="white-text">
          <ul>
            <li>Solutions Déploiements continus</li>
            <li>Devops</li>
            <li>Management d'équipe</li>
            <li>Développement GO</li>
            <li>Vue.js</li>
            <li>Développement Python et Framework DJANGO</li>
            <li>Référencement payant : Google Ads</li>
            <li>Webanalytics et KPI : Google Analytics</li>
          </ul>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-tab>

  <mat-tab label="Master Architecture des logiciels">
    <p class="blue-text">@ École Supérieure de Génie Informatique</p>
    <span class="grey-text">septembre 2020 - juillet 2021</span>
    <div class="white-text">
      <ul>
        <li>Création d'API avec Java EE</li>
        <li>Behaviour Domain Development (BDD)</li>
        <li>Méthode Agile</li>
        <li>Docker</li>
        <li>Programmation android en Kotlin</li>
        <li>Programmation iOS en Swift</li>
        <li>Rust</li>
      </ul>
    </div>
  </mat-tab>

  <mat-tab label="Licence">
    <p class="blue-text">@ Université-Paris-Est-Créteil</p>
    <span class="grey-text">septembre 2017 - juin 2020</span>
    <div class="white-text">
      <ul>
        <li>Programmation Orienté Objet en Java</li>
        <li>Développement web en PHP HTML, CSS, JavaScript</li>
        <li>Programmation android en Java</li>
        <li>Programmation C</li>
      </ul>
    </div>
  </mat-tab>

  <mat-tab label="Baccalauréat">
    <p class="blue-text">@ Lycée Antoine de Saint-Exupéry</p>
    <span class="grey-text">septembre 2014 - juillet 2017</span>
    <div class="white-text">
      <ul>
        <li>Baccalauréat scientifique</li>
        <li>Option Science de la vie et de la terre</li>
        <li>Spécialité mathématiques</li>
      </ul>
    </div>
  </mat-tab>

</mat-tab-group>
