<div class="left-content">
  <p>I have been interested in computer science since I was 15 years old, I tried to teach myself to code with the help of <a href="https://openclassrooms.com/fr/" target="_blank" rel="noopener noreferrer">Openclassroom</a></p>
  <br>
  <p>Started learning the C language, but did not really understand much about pointers with my little brain back then <angular-emojis size="40" name="confused"></angular-emojis></p>
</div>
<div class="info"></div>

<div class="rightContent">
  <img src="assets/images/fun-photo.jpeg" class="picture profile-pic">
  <img src="../../../assets/images/c-language.png" class="picture c-language-pic">
  <img src="../../../assets/images/headache.png" class="picture headache-pic">
</div>

<button routerLink="/presentation/1" class="prevButton">Prev</button>
<button routerLink="/education" class="nextButton">Next</button>
