<div class="left-content">
  <p>I then studied for a high school diploma specialized in mathematics at a college named <b>Lycée Antoine de Saint Exupéry</b></p>
  <br>
  <p>After that, I obtained a bachelors degree in computer science from <b>Univeristé-Paris-Est-Créteil</b></p>
  <br>
  <p>And I am currently studying web development at <b>École Supérieure de Génie Informatique</b></p>
</div>
<div class="info"></div>

<div class="rightContent">
  <img src="assets/images/saint-exupery.jpg" class="picture st-ex-pic">
  <img src="../../../assets/images/upec.jpg" class="picture upec-pic">
  <img src="../../../assets/images/esgi.jpg" class="picture esgi-pic">
</div>

<button routerLink="/presentation/1" class="prevButton">Prev</button>
<button routerLink="/education" class="nextButton">Next</button>
