.info {
  position: absolute;
  width: 1802.3px;
  height: 1373.99px;
  left: 983.5px;
  top: -192px;

  background: #000000;
  transform: rotate(9.67deg);
}

.left-content {
  position: absolute;
  width: 720px;
  height: 100px;
  top: 5vh;

  /*  font-weight: normal;
    font-size: 35px;
    line-height: 60px;
    text-align: start;*/
}

.rightContent {
  width: 42vw;
  height: 100vh;
  position: relative;
  top: 0vh;
  left: 55vw;

  .picture {
    position: absolute;
  }

  .st-ex-pic {
    width: 300px;
    height: 250px;
    border-radius: 10% 10%;
    right: 0vw;
    top: 1vh;
  }

  .upec-pic {
    width: 300px;
    height: 250px;
    border-radius: 10% 10%;
    left: 0vw;
    top: 30vh;
  }

  .esgi-pic {
    width: 300px;
    height: 250px;
    border-radius: 10% 10%;
    right: 2vw;
    bottom: 5vh;
  }

/*  .edu-section {
    left: 0px;
    top: 0px;
  }

  .time-section {
    right: 0px;
    top: 0px;
  }

  .rhythm-section {
    right: 0px;
    bottom: 0px;
  }

  .location-section {
    left: 0px;
    bottom: 0px;
  }

  .icon-edu, .icon-hourglass, .icon-location, .icon-date{
    font-size: 100px;
  }*/

}


.prevButton {
  position: absolute;
  right: 500px;
  bottom: 0px;
  color: red;
}

.nextButton {
  position: absolute;
  right: 100px;
  bottom: 0px;
  color: red;
}
