<!--        <li>Site de gestion d'emploi du temps en utilisant PHP, MySQL, HTML, CSS, JavaScript</li>
        <li>Jeu Pacman en Java</li>
        <li>Création d'un shell en C</li>
        <li>Application Android de dessin collaboratif</li>-->

<div>
  <h2 class="white-text">Quelques projets</h2>

  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20px">
    <mat-grid-tile>
      <h3>
        <mat-grid-tile-header>Pacman</mat-grid-tile-header>
      </h3>
      <p class="white-text">
        Jeu de pacman fait en Java.
        <br>
        Plusieurs design patterns utilisés, notamment :
        <br>
        <br>
        - State<br>
        - Factory<br>
        - Observeur/Observable
      </p>
      <mat-grid-tile-footer>
        <a href="https://github.com/Mustakim-Khan/Pacman" target="_blank"><img src="assets/images/github.svg"></a>
      </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile>
      <h3>
        <mat-grid-tile-header>Site d'emploi du temps</mat-grid-tile-header>
      </h3>
      <p class="white-text">
        Site crée en PHP
        <br>permettant aux professeurs de gérer les cours.
        <br>
        Méthode CRUD
      </p>
    </mat-grid-tile>

    <mat-grid-tile>

    </mat-grid-tile>

    <mat-grid-tile>

    </mat-grid-tile>
  </mat-grid-list>
</div>
