<!--        <li>Site de gestion d'emploi du temps en utilisant PHP, MySQL, HTML, CSS, JavaScript</li>
        <li>Jeu Pacman en Java</li>
        <li>Création d'un shell en C</li>
        <li>Application Android de dessin collaboratif</li>-->

<div>
  <h2 class="white-text">Quelques projets</h2>

  <mat-grid-list cols="2" rowHeight="2:1" gutterSize="20px">
    <mat-grid-tile>
      <h3>
        <mat-grid-tile-header>Pacman</mat-grid-tile-header>
      </h3>
      <p class="white-text">
        Jeu de pacman fait en Java.
        <br>
        Plusieurs design patterns utilisés, notamment :
        <br>
        <br>
        - State<br>
        - Factory<br>
        - Observeur/Observable
      </p>
      <mat-grid-tile-footer>
        <a href="https://github.com/Mustakim-Khan/Pacman" target="_blank"><img src="assets/images/github.svg"></a>
      </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile>
      <h3>
        <mat-grid-tile-header>Site d'emploi du temps</mat-grid-tile-header>
      </h3>
      <p class="white-text">
        Site crée en PHP
        <br>permettant aux professeurs de gérer les cours.
        <br>
        <br>
        - Méthode CRUD <br>
        - HTML/CSS <br>
        - Base donnée MySQL <br>
      </p>
      <mat-grid-tile-footer>
        <a href="https://github.com/Mustakim-Khan/WebProjet" target="_blank"><img src="assets/images/github.svg"></a>
      </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile>
      <h3>
        <mat-grid-tile-header>Site de recette de pizza</mat-grid-tile-header>
      </h3>
      <p class="white-text">
        Site permettant de trouver des recettes de cuisine avec un ingrédient
        <br>
        Les recettes sont obtenues en faisant appel à une API externe
        <br>
        <br>
        - Framework React <br>
        <br>
      </p>
      <mat-grid-tile-footer>
        <a href="https://github.com/Mustakim-Khan/pizza-app" target="_blank"><img src="assets/images/github.svg"></a>
        <a href="https://recipe-pizza-app.herokuapp.com/" target="_blank"><img src="assets/images/open-in-new.svg"></a>
      </mat-grid-tile-footer>
    </mat-grid-tile>

    <mat-grid-tile>
      <h3>
        <mat-grid-tile-header>API NodeJS</mat-grid-tile-header>
      </h3>
      <p class="white-text">
        API permettant d'enregistrer des listes de courses
        <br>
        <br>
        - JavaScript<br>
        - Express<br>
        <br>
      </p>
      <mat-grid-tile-footer>
        <a href="https://github.com/Mustakim-Khan/express-demo" target="_blank"><img src="assets/images/github.svg"></a>
      </mat-grid-tile-footer>
    </mat-grid-tile>
  </mat-grid-list>
</div>
