main {
  height: 100vh;
  background: #D7D7D7;

  .greeting {
    position: absolute;
    width: 171px;
    height: 58px;
    left: 256px;
    top: 351px;

    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    display: flex;
    align-items: flex-end;
    text-align: center;
  }

  .name {
    position: absolute;
    width: 592px;
    height: 100px;
    left: 211px;
    top: 468px;

    font-weight: bold;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
  }

  .workPosition {
    position: absolute;
    width: 426px;
    height: 40px;
    left: 271px;
    top: 560px;

    font-weight: 800;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #919191;
  }
}
