<mat-toolbar>
  <!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>-->
  <span class="spacer"></span>
  <ol>
    <p>
      <a href="#id" class="white-text">
        <li>About</li>
      </a>
    </p>

    <p>
      <a href="#" class="white-text">
        <li>Experience</li>
      </a>
    </p>

    <p><a href="#" class="white-text">
      <li>Projects</li>
    </a>
    </p>
    <p>
      <a href="#" class="white-text">
        <li>Situation</li>
      </a>
    </p>

  </ol>
</mat-toolbar>
<main>
  <router-outlet></router-outlet>
</main>
