<mat-toolbar>
  <!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>-->
  <span class="spacer"></span>
  <ul>
    <p>
      <a href="#" class="white-text">
        <li>À propos</li>
      </a>
    </p>

    <p>
      <a href="#parcours" class="white-text">
        <li>Parcours</li>
      </a>
    </p>

    <p><a href="#projects" class="white-text">
      <li>Projets</li>
    </a>
    </p>

    <p><a href="#experience" class="white-text">
      <li>Experience</li>
    </a>
    </p>

    <p>
      <a href="#contact" class="white-text">
        <li>Contact</li>
      </a>
    </p>

  </ul>
</mat-toolbar>

<div id="left-info">
  <ul>
    <li><a href=""><img src="assets/images/github.svg"></a></li>
    <li><a href=""><img src="assets/images/linkedin.svg"></a></li>
  </ul>
</div>

<div id="right-info">
  <div id="right-info-content">
    <a href="#">pro.mustakim.khan@gmail.com</a>
  </div>
</div>

<main>
  <section id="about" data-aos="fade-down-left" data-aos-duration="1500">
    <app-main-page></app-main-page>
  </section>

  <section id="parcours">
    <app-parcours></app-parcours>
  </section>

  <section id="projects">
    <app-projects></app-projects>
  </section>

  <section id="experience">
    <app-experience></app-experience>
  </section>

  <section id="contact">
    <app-contact></app-contact>
  </section>
</main>
