<mat-toolbar>
  <!--  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>-->
  <span class="spacer"></span>
  <ul>
    <p>
      <a href="#" class="white-text" (click)="scrollToTop()">
        <li>À propos</li>
      </a>
    </p>

    <p>
      <a href="#parcours" class="white-text">
        <li>Parcours</li>
      </a>
    </p>

    <p><a href="#projects" class="white-text">
      <li>Projets</li>
    </a>
    </p>

    <p><a href="#experience" class="white-text">
      <li>Experience</li>
    </a>
    </p>

    <p>
      <a href="#contact" class="white-text">
        <li>Contact</li>
      </a>
    </p>

  </ul>
</mat-toolbar>

<main>
  <section id="about">
    <app-main-page></app-main-page>
  </section>

  <section id="parcours">
    <app-parcours></app-parcours>
  </section>

  <section id="projects">
    <app-projects></app-projects>
  </section>

  <section id="experience">
    <app-experience></app-experience>
  </section>

  <section id="contact">
    <app-contact></app-contact>
  </section>
</main>
