<div class="left-content">
  <p>My name is Mustakim Khan, I am {{ age }} years old and, I live near Paris</p>
  <br>
  <p>You can download my CV my clicking on the icon below</p>
  <p>I have been interested in computer science since I was 15 years old, I tried to teach myself to code with the help of <a href="https://openclassrooms.com/fr/" target="_blank" rel="noopener noreferrer">Openclassroom</a></p>
  <p>Started learning the C language, but did not really understand much about pointers with my little brain back then <angular-emojis size="50" name="confused"></angular-emojis></p>
</div>
<div class="info"></div>

<div class="rightContent">
  <div class="content-item edu-section">
    <mat-icon class="icon-edu">history_edu</mat-icon>
    <p>
      Contract
      <br>
      <br>
      Internship (Apprentissage)
    </p>
  </div>

  <div class="content-item location-section">
    <mat-icon class="icon-location material-icons--outlined">location_on</mat-icon>
    <p>
      Location
      <br>
      <br>
      Paris, Ile-de-France
    </p>
  </div>

  <div class="content-item time-section">
    <mat-icon class="icon-hourglass">hourglass_empty</mat-icon>
    <p>
      Time
      <br>
      <br>
      1 or 2 years
    </p>
  </div>

  <div class="content-item rhythm-section">
    <mat-icon class="icon-date">date_range</mat-icon>
    <p>
      Rhythm
      <br>
      <br>
      - 1 week school
      <br>
      - 3 weeks in company
    </p>
  </div>
</div>
<button routerLink="/" class="prevButton">Prev</button>
<button routerLink="/education" class="nextButton">Next</button>
