.info {
  position: absolute;
  width: 1802.3px;
  height: 1373.99px;
  left: 983.5px;
  top: -192px;

  background: #000000;
  transform: rotate(9.67deg);
}

.prevButton {
  position: absolute;
  right: 500px;
  bottom: 0px;
  color: red;
}

.nextButton {
  position: absolute;
  right: 100px;
  bottom: 0px;
  color: red;
}
