<div class="left-content">
  <p>My name is Mustakim Khan</p>
  <p>I am {{ age }} years old and<br> I live near Paris</p>
  <p>You can download my CV my clicking on the icon below</p>
  <a href="assets/CV.pdf" download="CV_Mustakim_Khan.pdf">
    <!--<embed width="165" height="233" name="plugin" src="assets/CV.pdf" type="application/pdf" (click)="downloadCV()">-->
    <mat-icon>download</mat-icon>
  </a>
</div>
<div class="info"></div>

<div class="rightContent">
  <div class="content-item edu-section">
    <mat-icon class="icon-edu">history_edu</mat-icon>
    <p>
      Contract
      <br>
      <br>
      Internship (Apprentissage)
    </p>
  </div>

  <div class="content-item location-section">
    <mat-icon class="icon-location material-icons--outlined">location_on</mat-icon>
    <p>
      Location
      <br>
      <br>
      Paris, Ile-de-France
    </p>
  </div>

  <div class="content-item time-section">
    <mat-icon class="icon-hourglass">hourglass_empty</mat-icon>
    <p>
      Time
      <br>
      <br>
      1 or 2 years
    </p>
  </div>

  <div class="content-item rhythm-section">
    <mat-icon class="icon-date">date_range</mat-icon>
    <p>
      Rhythm
      <br>
      <br>
      - 1 week school
      <br>
      - 3 weeks in company
    </p>
  </div>
</div>
<button routerLink="/" class="prevButton">Prev</button>
<button routerLink="/education" class="nextButton">Next</button>
