<div class="left-content">
  <p>My name is Mustakim Khan</p>
  <p>I am {{ age }} years old and<br> I live near Paris</p>
  <p>You can download my CV my clicking on the icon below</p>
  <a href="assets/CV.pdf" download="CV_Mustakim_Khan.pdf">
    <!--<embed width="165" height="233" name="plugin" src="assets/CV.pdf" type="application/pdf" (click)="downloadCV()">-->
    <mat-icon>download</mat-icon>
  </a>
</div>
<div class="info"></div>

<mat-icon class="icon-edu">history_edu</mat-icon>
<mat-icon class="icon-location material-icons--outlined">location_on</mat-icon>
<button routerLink="/" class="prevButton">Prev</button>
<button routerLink="/education" class="nextButton">Next</button>
