.greeting {
  position: absolute;
  width: 171px;
  height: 58px;
  left: 256px;
  top: 351px;

  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.left-content {
  position: absolute;
  width: 592px;
  height: 100px;
  left: 256px;
  top: 200px;

  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  text-align: start;
}

.workPosition {
  position: absolute;
  width: 426px;
  height: 40px;
  left: 271px;
  top: 560px;

  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  text-align: center;

  color: #919191;
}

.info {
  position: absolute;
  width: 1802.3px;
  height: 1373.99px;
  left: 983.5px;
  top: -192px;

/*  background: #000000;*/
  background:black no-repeat;
  background-size: contain;
  transform: rotate(9.67deg);
  overflow: hidden;

  .photo-web {
    position: relative;
    right: 30vw;
    width: 1802.3px;
    height: 1373.99px;
    background:url("../../../assets/images/web.jpeg") no-repeat;
    background-size: cover;
  }
}

.nextButton {
  position: absolute;
  right: 100px;
  bottom: 0px;
  color: red;
}
