.greeting {
  position: absolute;
  width: 171px;
  height: 58px;
  left: 256px;
  top: 351px;

  font-weight: bold;
  font-size: 40px;
  line-height: 47px;
  display: flex;
  align-items: flex-end;
  text-align: center;
}

.name {
  position: absolute;
  width: 592px;
  height: 100px;
  left: 256px;
  top: 200px;

  font-weight: bold;
  font-size: 80px;
  line-height: 94px;
  text-align: start;
}

.workPosition {
  position: absolute;
  width: 426px;
  height: 40px;
  left: 271px;
  top: 560px;

  font-weight: 800;
  font-size: 25px;
  line-height: 29px;
  text-align: center;

  color: #919191;
}

.info {
  position: absolute;
  width: 1802.3px;
  height: 1373.99px;
  left: 983.5px;
  top: -192px;

  background: #000000;
  transform: rotate(9.67deg);
}

.nextButton {
  position: absolute;
  right: 100px;
  bottom: 0px;
  color: red;
}

.photo {
  position: absolute;
  width: 640px;
  height: 512px;
  left: 1025px;
  top: 145px;

  background:url("../../../assets/images/shanksCrew.png");
}
