<!--<p class="greeting">Hello</p>-->
<p class="left-content">
  Hello, my name is Mustakim KHAN
  <br>
  I am a Fullstack web developer
  <br>
  Welcome to my website !
  <angular-emojis size="40" name="sunglasses"></angular-emojis>
  <br>

  <a href="assets/CV.pdf" download="CV_Mustakim_Khan.pdf">
    <button mat-flat-button mat-stroked-button>
      Download my CV
      <!--<embed width="165" height="233" name="plugin" src="assets/CV.pdf" type="application/pdf" (click)="downloadCV()">-->
      <mat-icon>download</mat-icon>
    </button>
  </a>

</p>
<!--<p class="workPosition"></p>-->
<div class="info">
  <div class="photo-web">

  </div>
</div>

<button routerLink="/presentation" class="nextButton">Next</button>
