.info {
  position: absolute;
  width: 1802.3px;
  height: 1373.99px;
  left: 983.5px;
  top: -192px;

  background: #000000;
  transform: rotate(9.67deg);
}

.photo {
  position: absolute;
  width: 640px;
  height: 512px;
  left: 1025px;
  top: 145px;

  background:url("../../../assets/images/shanksCrew.png");
}
