<p class="intro">
  <!--Currently perusing studies for a web development masters degree, I am looking for a company that would accept me as an apprentice to improve my skills-->
  Actuellement en Master en Ingénierie du Web à l'École Supérieure de Génie Informatique,
  je recherche une entreprise afin d'y faire mon alternance à partir du 01/01/2022 au plus tard
  <br>
  <br>
  Rythme: 1 semaine école / 3 semaines entreprise
</p>

<a href="src/assets/images/CV.pdf" download="CV.pdf">
  <button mat-stroked-button>
    Télécharger mon CV
  </button>
</a>
